// Clock Size
$clockSize: 80px;

// Hour Hand Tall

$virsualHourHandTall: $clockSize * 0.75;
$hourHandTall: calc($virsualHourHandTall / 2);

// Minute Hand Tall

$virsualMinuteHandTall: $clockSize * 0.85;
$minuteHandTall: calc($virsualMinuteHandTall / 2);

// Second Hand Tall

$virsualSecondHandTall: $clockSize;
$secondHandTall: calc($virsualSecondHandTall / 2);

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 99999;

    .clock {
        width: $clockSize;
        height: $clockSize;
        border: 2px solid #272727;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .center {
            width: 10%;
            height: 10%;
            background-color: #272727;
            border-radius: 50%;
        }

        .hand {
            position: absolute;
            border: solid transparent;
            border-bottom-color: #272727;
            top: 50%;
            left: 50%;
            transform-origin: bottom;
            transform: translate(-50%, -100%) rotateZ(0deg);
            animation: rotate-hand linear infinite;

            &.hour-hand {
                animation-duration: 900s;
                height: $virsualHourHandTall;
                border-width: $hourHandTall 4px;
            }

            &.minute-hand {
                animation-duration: 15s;
                height: $virsualMinuteHandTall;
                border-width: $minuteHandTall 3px;
            }

            &.second-hand {
                animation-duration: .25s;
                height: $virsualSecondHandTall;
                border-width: $secondHandTall 2px;
            }

        }

        .clock-side {
            background-color: #272727;
            width: 7%;
            height: 7%;
            position: absolute;

            &.top {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                border: {
                    bottom-left-radius: 50%;
                    bottom-right-radius: 50%;
                }
            }

            &.bottom {
                bottom: -1%;
                left: 50%;
                transform: translateX(-50%);
                border: {
                    top-left-radius: 50%;
                    top-right-radius: 50%;
                }
            }

            &.right {
                right: -1%;
                top: 50%;
                transform: translateY(-50%);
                border: {
                    top-left-radius: 50%;
                    bottom-left-radius: 50%;
                }
            }

            &.left {
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border: {
                    top-right-radius: 50%;
                    bottom-right-radius: 50%;
                }
            }
        }
    }
}

@keyframes rotate-hand {
    from {transform: translate(-50%, -100%) rotateZ(0deg);}
    to {transform: translate(-50%, -100%) rotateZ(360deg);}
}