.result-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 9999;
    overflow: hidden auto;
    background-color: #fff;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}