.loading-screen 
      .clock 
        .center
        .hand.hour-hand
        .hand.minute-hand
        .hand.second-hand
        .clock-side.top
        .clock-side.right 
        .clock-side.bottom 
        .clock-side.left 