aside.col-3.list-group 
          button.list-group-item.list-group-item-action.list-group-item-light.d-flex.d-lg-block.justify-content-center.align-items-center.add 
           | #[span.icon.icon-plus] 
           | #[span.text.d-none.d-lg-inline Add Time]
          button.list-group-item.list-group-item-action.list-group-item-light.d-flex.d-lg-block.justify-content-center.align-items-center.add-group 
           | #[span.icon.icon-plus-circle] 
           | #[span.text.d-none.d-lg-inline Add Time Group]
          button.list-group-item.list-group-item-action.list-group-item-danger.d-flex.d-lg-block.justify-content-center.align-items-center.reset 
           | #[span.icon.icon-repeat] 
           | #[span.text.d-none.d-lg-inline Reset]
          button.list-group-item.list-group-item-action.list-group-item-success.d-flex.d-lg-block.justify-content-center.align-items-center.calculating 
           | #[span.icon.icon-calculator] 
           | #[span.text.d-none.d-lg-inline Calculating]